/**********Board**********/
.board-container {
  display: grid;
  grid-template-rows: 1.5rem repeat(8, 1fr) 1.5rem;
  grid-template-columns: 1.5rem repeat(8, 1fr) 1.5rem;
  height: 100%;
  user-select: none;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

/**********Squares**********/
.square {
  position: relative;
}

.board-piece-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.available-move-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.available-move-dot {
  width: 33%;
  height: 33%;
  border-radius: 50%;
  background-color: var(--bs-warning);
  opacity: 70%;
}

.available-capture-dot {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 7px solid var(--bs-warning);
  opacity: 70%;
}

.dark {
  background-color: var(--bs-success);
}

.light {
  background-color: var(--bs-light);
}

.highlight {
  width: 100%;
  height: 100%;
  background-color: var(--bs-warning);
  opacity: 70%;
}