<div class="board-container" (click)="$event.stopPropagation()">
    <!-- Top Border -->
    <div class="bg-dark-custom" style="border-radius: 8px 8px 0px 0px; grid-column: 1 / 11;"></div>

    <!-- Squares -->
    @for (rank of this.ranks; track rank;) {
        <div class="label bg-dark-custom fw-bold text-light">{{rank}}</div>
        @for (file of this.files; track file;) {
            <div class="square"
                (click)="this.onPositionClicked({rank: rank, file: file})"
                [ngClass]="(rank + this.board.files.indexOf(file)) % 2 == 0 ? 'dark' : 'light'"
            >
                <!--Add a highlight to the square if its active-->
                @if (this.selectedPiece != null && this.board.getPositionOfPiece(this.selectedPiece)?.file == file && this.board.getPositionOfPiece(this.selectedPiece)?.rank == rank) {
                    <div class="highlight"></div>
                }

                <!--Add a piece image to the square if a piece exists-->
                @if (this.board.getPieceAtPosition({rank: rank, file: file})) {
                    <img class="board-piece-img" [src]="this.board.getPieceAtPosition({rank: rank, file: file})!.getImageSource()" draggable="false">
                }

                <!--Add dot to the square if its a possible move-->
                @if (this.isPositionInSelectedPiecesLegalMoves({rank: rank, file: file})) {
                    <div class="available-move-container">
                        @if (this.board.getPieceAtPosition({rank: rank, file: file}, this.selectedPiece?.name == this.PIECE_NAMES.Pawn)) {
                            <div class="available-capture-dot"></div>
                        } @else {
                            <div class="available-move-dot"></div>
                        }
                    </div>
                }
            </div>
        }
        <div class="bg-dark-custom"></div>
    }

    <!-- File labels -->
    <div class="bg-dark-custom" style="border-radius: 0px 0px 0px 8px;"></div>
    @for (file of this.files; track file) {
        <div class="label bg-dark-custom fw-bold text-light">{{file}}</div>
    }
    <div class="bg-dark-custom" style="border-radius: 0px 0px 8px 0px;"></div>

    <!-- Pawn Promotion Overlay-->
    @if (awaitingPawnPromotion) {
        <div class="board-overlay">
            <div class="card border-success bg-dark-custom text-light text-center">
                <div class="card-body">
                    <div class="col-12">
                        @for (piece of this.PROMOTION_OPTIONS; track piece;) {
                            <button type="button" class="btn btn-lg btn-success m-2" (click)="onPawnPromotionConfirmed(piece)">
                                <img style="width: 50px;" [src]="this.usersColor + '_' + piece + '.png'" draggable="false">
                            </button>
                        }
                    </div>

                    <button type="button" class="btn btn-lg btn-danger m-2" (click)="awaitingPawnPromotion = false; selectedPiece = null;">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    }

    <!-- Looking For Game Overlay
    @if (gameService.game().currentState == GAME_STATES.NotStarted) {
        <div class="board-overlay">
            <div class="spinner-border text-light"></div>
            <div class="fw-bold text-light mt-3">Looking For Game...</div>
        </div>
    }-->

    <!-- Game Over Overlay 
    @if (GAME_OVER_STATES.includes(gameService.game().currentState)) {
        <div class="board-overlay">
            <div class="card border-success bg-dark-custom text-light text-center">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-3">{{getModalLabelFromEndState(gameService.game().currentState)}}</h5>
                    <button type="button" class="btn btn-success btn-lg ms-2 mt-2">Rejoin Queue</button>
                </div>
            </div>
        </div>
    }-->
</div>