<div class="container-fluid d-flex justify-content-center">
	@if (game() == null) {
		<div class="overlay">
			<div class="spinner-border text-light"></div>
			<div class="fw-bold text-light mt-3">Looking For Game...</div>
		</div>
	} @else {
		<div class="board-container mt-5">
			<!-- Opponent Info -->
			<div class="player-container">
				<span class="text-light fw-bold">{{opponentsAccount()?.username}}</span>
				<span class="text-light fw-light  "> ({{opponentsAccount()?.elo}})</span>
			</div>

			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>
			<div class="bg-dark-custom"></div>

			<!-- Board -->
			@for (rank of ranks(); track rank;) {
				<div class="label bg-dark-custom fw-bold text-light">{{rank}}</div>
				@for (file of files(); track file; ) {
					<div class="square"
						(click)="onPositionClicked({rank: rank, file: file})"
						[ngClass]="(rank + game()!.board.files.indexOf(file)) % 2 == 0 ? 'dark' : 'light'"
					>
						<!--Add a highlight to the square if its active-->
						@if (selectedPosition?.rank == rank && selectedPosition?.file == file) {
							<div class="highlight"></div>
						}

						<!--Add a piece image to the square if a piece exists-->
						@if (game()!.board.getPieceAtPosition({rank: rank, file: file})) {
							<img class="piece-img" 
								[src]="game()!.board.getPieceAtPosition({rank: rank, file: file})!.getImageSource()" 
								draggable="false"
							>
						}

						<!--Add dot to the square if its a possible move-->
						@if (isPositionInSelectedPiecesLegalMoves({rank: rank, file: file})) {
							<div class="available-move-container">
								@if (game()!.board.getPieceAtPosition({rank: rank, file: file})) {
									<div class="available-capture-dot"></div>
								} @else {
									<div class="available-move-dot"></div>
								}
							</div>
						}
					</div>
				}
				<div class="bg-dark-custom"></div>
			}

			<!-- File labels -->
			<div class="bg-dark-custom"></div>
			@for (file of files(); track file) {
				<div class="label bg-dark-custom fw-bold text-light">{{file}}</div>
			}
			<div class="bg-dark-custom"></div>
			

			<!-- Current User Info -->
			<div class="player-container">
				<span class="text-light fw-bold">{{usersAccount()?.username}}</span>
				<span class="text-light fw-light"> ({{usersAccount()?.elo}})</span>
			</div>
		</div>
	}
</div>