/**********Layout**********/
.game-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 75px minmax(0, 1fr) 75px;
  gap: 10px;

  height: calc(100vh - 56px);
  width: calc(100vw - 20px);
  margin: auto;
}

/**********Player Info**********/
.player-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;

  border-radius: 8px;
}

.player-timer {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.players-captured-pieces {
  height: 30px;
}

.captured-piece-img {
  height: 100%;
}

/**********Chat**********/
.chat-container {
  border-radius: 8px;
}

/**********Board**********/
.board-container {
  display: grid;
  grid-template-rows: 1fr repeat(8, 4fr) 1fr;
  grid-template-columns: 1fr repeat(8, 4fr) 1fr;

  user-select: none;

  aspect-ratio: 1 / 1;

  width: min(100%, calc(100vh - 56px - 150px - 20px));
  height: min(100%, calc(100vh - 56px - 150px - 20px));
  margin: auto;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/**********Squares**********/
.square {
  position: relative;
}

.piece-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
}

.available-move-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.available-move-dot {
  width: 33%;
  height: 33%;
  border-radius: 50%;
  background-color: var(--bs-warning);
  opacity: 70%;
}

.available-capture-dot {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 7px solid var(--bs-warning);
  opacity: 70%;
}

.dark {
  background-color: var(--bs-success);
}

.light {
  background-color: var(--bs-light);
}

.highlight {
  width: 100%;
  height: 100%;
  background-color: var(--bs-warning);
  opacity: 70%;
}

/**********Overlay**********/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}