<div class="container-fluid mt-4">
    <div class="fs-1 fw-bold text-light text-center mb-3">Chess M8s</div>

    <div class="row justify-content-center">
        <div class="card border-success bg-dark-custom col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <label for="username" class="text-light fw-bold">Username</label>
                    <input id="username" type="text" class="form-control" formControlName="username">
                    @if (loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched) {
                        <div class="invalid-feedback fw-bold">
                            Username is required.
                        </div>
                    }

                    <label for="password" class="text-light fw-bold mt-3">Password</label>
                    <input id="password" type="password" class="form-control" formControlName="password">
                    @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
                        <div class="invalid-feedback fw-bold">
                            Password is required.
                        </div>
                    }
                    
                    <button type="submit" class="btn btn-lg btn-success mt-3 d-block mx-auto" [disabled]="loginInProgress() || loginForm.invalid || loginForm.pending">
                        @if (loginInProgress()) {
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        } @else {
                            Login
                        }
                    </button>
                </form>
            </div>

            <div class="card-footer border-success text-center">
                <a class="text-light" href="signup">New? Sign up here</a>
            </div>
        </div>
    </div>
</div>